
h1{
    display:block;
    background-color: black;
    border-radius: 50px;
    color: rgb(11, 240, 240);
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pole{
    margin-left: 80px;
    margin-top: 20px;
}
.pole_mini{
    display: block;
    margin-left: 500px;
    margin-top: 100px;
    border: 2px solid black ;
    height: 60px;
    width: 530px;
}

.qwe{
    margin-left: 80px;
}
.text_1 {
    margin-left: 200;
    margin-top: 700;

} 
/* .Main_canvas {
    width: 1000px;
    height: 1000px;
} */
